<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
    <Appenders>
        <RollingFile name="MainRollingFile" fileName="${project.artifactId}.log"
              filePattern="$${date:yyyy-MM}/${project.artifactId}-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <charset>UTF-8</charset>
                <Pattern>%d %-5level %class{36} %L %M - %msg%xEx%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>    
    </Appenders>
    <Loggers>
        <Root level="${log4j2.level}">
            <AppenderRef ref="MainRollingFile"/>
        </Root>
    </Loggers>
</Configuration>
